<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swu.tourismmanagesystem.mapper.SysUserMapper">
    <select id="selectByAccount" resultType="com.swu.tourismmanagesystem.entity.sys.SysUser">
        SELECT * FROM sys_user WHERE account=#{account};
    </select>
    <insert id="insertUser" parameterType="com.swu.tourismmanagesystem.entity.sys.SysUser">
        INSERT INTO sys_user (
            account,
            password,
            real_name,
            phone,
            email,
            role,
            status,
            remark
        )
        VALUES (
                   #{account},
                   #{password},
                   #{realName},
                   #{phone},
                   #{email},
                   #{role},
                   #{status},
                   #{remark}
               )
    </insert>
</mapper>